 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap'); 

html {
    min-height: -webkit-fill-available;
}

/* Body with gradient and backup color if browser not support/error gradient*/
body {
    background: #de6161;
    background: -webkit-linear-gradient(to top, #2657eb, #de6161);
    background: linear-gradient(to top, #2657eb, #de6161);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    margin: 5%;
}

/* Game area */
.game-area {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    gap: 1rem;
}

.versus-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
}

 #user-choice, #computer-choice, #result {
font-size: x-large;
 }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 5vh;
}

/* Reset btn and how to play button design */
#reset-btn,
#myBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 104px;
    height: 104px;
    background: #BE5869;
    border: none;
    border-radius: 50%;
    box-shadow: 10px 10px 33px #403a3e;
    outline: none;
    color: white;
    font-size: large;
    cursor: pointer;
}

/* Footer */
#footer {
    font-size: smaller;
    padding: 10px;
}

/* How To Play Pop up(background) 
    Code from w3Schools */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content  
    Code from w3Schools */
.modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

/* The Close Button  
    Code from w3Schools */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


/* For medium screen size from 840px wide and down*/
@media screen and (max-width: 840px) {
    .game-button > button > img {
        width: 70%;
    }

    .modal-content {
        width: 75%;
    }

    .modal {
        padding-top: 50px;
    }
}

/* For medium screen size from 320px wide and down*/
@media screen and (max-width: 320px) {
    .versus-area {
        display: block;
    }

    .game-button {
        display: flex;
    }
}

